* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Monospace;
  font-size: 12px;
  overflow: hidden;
}

#container {
  user-select: none;
}

#crosshair {
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: fixed;
  top: 50%;
  width: 32px;
}

/* Toolbar */
#toolbar {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 15%;
  display : flex;
}

#toolbar div {
  height: 50px;
  border: 1px solid #000;
  width: 100%;
  opacity: 0.4;
}

#toolbar div.active {
  opacity: 1.0;
}

#toolbar div[data-slot="1"]::after {
  content: 'X';
  color: #ff0000;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  display: block;
  width: 100%;
  line-height: 50px;
}

/* Voxel plugin hooks */
#stats {
  bottom: 0;
  right: 0;
}

.bar-tab {
  left: 33% !important;
  right: 33% !important;
}

.errorMessage {
  margin: 20px auto;
  text-align: center;
  width: 200px;
}

