* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Monospace;
  font-size: 12px;
  overflow: hidden;
}

#container {
  user-select: none;
}

#crosshair {
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: fixed;
  top: 50%;
  width: 32px;
}

#stats {
  bottom: 0;
  right: 0;
}

.bar-tab {
  left: 33% !important;
  right: 33% !important;
}

.errorMessage {
  margin: 20px auto;
  text-align: center;
  width: 200px;
}

